<app-header></app-header>

<!-- <div>
    <form #authForm="ngForm" class="example-form">
        <mat-form-field class="example-full-width">
            <div class="form-group">
               
                <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com" id="email" class="form-control" ngModel name="email" required email>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </div>
        </mat-form-field>
        <mat-form-field>
            <div class="form-group">
                <mat-label for="password">password</mat-label>
                <input type="password" id="password" class="form-control" ngModel name="password" required minlength="8">
            </div>
            <div>
                <button type="submit" [disabled]="!authForm.valid" routerLink="/login">    {{isLoginMode? 'Login': 'Sign Up'}}</button>
                <button type="button" (click)="onSwitchMode()">
    Switch To {{isLoginMode ?'Sign Up' :'Login'}}</button>
            </div>
        </mat-form-field>
    </form>
</div> -->

<!-- <form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        
        <mat-hint>Errors appear instantly!</mat-hint>
       
        
    </mat-form-field>
</form> -->
<mat-card *ngIf="httpStatus" style="width:40%;height: 20%; margin-left: 25%;margin-top: 8%;">
    <mat-card-content style="text-align: center;font-size: 130%;margin-top: 8%;">
        <mat-label>{{httpStatus}}</mat-label>
    </mat-card-content>
    <button style="float: right;" mat-flat-button color="primary" (click)="backToLogin()">Close</button>
</mat-card>
<dialog id="myDialog">This is an open dialog window</dialog>

<mat-card *ngIf="!httpStatus" style=" padding-top:2%;padding-bottom: 2%;width:40%; margin-left: 25%;margin-top: 10%;">

    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" style="margin-top: 5%;">
        <mat-card-content>
            <!-- <mat-label for="email" *ngIf="!isResetPassword" style="font-weight: bold;font-size: 15px;">Email</mat-label>
            <mat-form-field *ngIf="!isResetPassword" style=" margin-top: 10px;
            width: 100%;">

                <input type="email" id="email" name="email" [(ngModel)]="email" matInput placeholder="Ex. bala@example.com" class="form-control" ngModel required email matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" email>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field> -->
            <mat-label for="email" style="font-weight: bold;font-size: 15px;">Password</mat-label>

            <mat-form-field style=" margin-top: 10px;
            width: 100%;">
                <input type="password" id="password" name="password" [(ngModel)]="password" matInput placeholder="Current Password" class="form-control" #cpwd="ngModel" required minlength="8" [class.is-invalid]="cpwd.invalid && cpwd.touched">
                <mat-error *ngIf="cpwd.touched  && !password">
                    Password is Required
                </mat-error>
            </mat-form-field>

            <mat-form-field style=" margin-top: 10px;
            width: 100%;">
                <input #npwd="ngModel" type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" matInput placeholder="New Password" class="form-control" [class.is-invalid]="npwd.invalid && npwd.touched" required minlength="8">
                <mat-error *ngIf="npwd.touched  && !newPassword">
                    Password is Required
                </mat-error>
                <mat-error *ngIf="!npwd.valid && newPassword">
                    Length of Password should be more than 7
                </mat-error>
            </mat-form-field>
            <mat-form-field style=" margin-top: 10px;
            width: 100%;">
                <input type="password" id="ConfirmPassword" name="ConfirmPassword" [(ngModel)]="ConfirmPassword" matInput placeholder="Confirmed Password" class="form-control" ngModel required minlength="8">
            </mat-form-field>


        </mat-card-content>
        <h4 style="color:red;" *ngIf="newPassword!=ConfirmPassword">
            Both Password Should be same</h4>

        <button type="submit" mat-stroked-button color="accent">
            Save
</button>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <button type="button" mat-stroked-button color="accent" [routerLink]="['/login']" routerLinkActive="active"> Cancel</button>

    </form>
</mat-card>