.menuForLogin {
    margin-left: 70%;
    border: none;
}

#dropdownIcon {
    font-size: 270% !important;
}

#dropdownIcon_login {
    font-size: 170% !important;
    margin-top: 20%;
}

.mat-menu {
    position: absolute;
    margin-left: 500%;
}

.mat-select-arrow {
    border: none;
}

::ng-deep.mat-select-arrow {
    display: none;
}