<app-header></app-header>

<mat-card *ngIf="httpStatus" style="width:40%;height: 20%; margin-left: 25%;margin-top: 2%;">
    <mat-card-content style="text-align: center;font-size: 130%;margin-top: 8%;">
        <mat-label>{{httpStatus}}</mat-label>
    </mat-card-content>
    <button style="float: right;margin-top: 2%;" mat-flat-button color="primary" (click)="backToLogin()">Close</button>
</mat-card>

<mat-card style=" padding-top:2%;padding-bottom: 2%;width:40%; margin-left: 25%;margin-top: 4%;">

    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" style="margin-top: 5%;">
        <mat-card-content>
            <div style=" display: flex;" *ngIf="!isLoginMode">
                <mat-form-field *ngIf="!isForgetPassword" style=" margin-top: 10px;
            width: 100%;">
                    <mat-label for="email" style="font-weight: bold;font-size: 15px;">First Name</mat-label>
                    <input type="text" #fname="ngModel" id="firstName" [class.is-invalid]="fname.invalid && fname.touched" name="firstName" [(ngModel)]="firstName" matInput placeholder="First Name" class="form-control" required minlength="3">

                    <mat-error *ngIf="fname.valid || !fname.untouched">
                        Please enter Valid Name
                    </mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="!isForgetPassword" style=" margin-top: 10px;
            width: 100%;">
                    <mat-label for="email" style="font-weight: bold;font-size: 15px;">Last Name</mat-label>
                    <input type="text" id="lastName" name="lastName" [(ngModel)]="lastName" matInput placeholder="Last Name" class="form-control" ngModel>
                </mat-form-field>
            </div>

            <mat-label for="email" style="font-weight: bold;font-size: 15px;">Email</mat-label>
            <mat-form-field style=" margin-top: 10px;
            width: 100%;">

                <input type="email" id="email" name="email" [(ngModel)]="email" matInput placeholder="Ex. bala@example.com" class="form-control" ngModel required email matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" email>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-label *ngIf="!isForgetPassword " for="email" style="font-weight: bold;font-size: 15px;">Password</mat-label>

            <mat-form-field *ngIf="!isForgetPassword" style=" margin-top: 10px;
            width: 100%;">
                <input #pwd="ngModel" type="password" id="password" name="password" [(ngModel)]="password" matInput placeholder="Password" class="form-control" ngModel required minlength="8" [class.is-invalid]="pwd.invalid && pwd.touched">
                <mat-error *ngIf="pwd.touched  && !password">
                    Password is Required
                </mat-error>
                <mat-error *ngIf="!pwd.valid && password">
                    Length of Password should be more than 7
                </mat-error>
            </mat-form-field>
            <mat-form-field style=" margin-top: 10px;
            width: 100%;" *ngIf="!isLoginMode && !isForgetPassword">
                <input type="password" id="ConfirmPassword" name="ConfirmPassword" [(ngModel)]="ConfirmPassword" matInput placeholder="Confirm Password" class="form-control" ngModel required minlength="8">
            </mat-form-field>


        </mat-card-content>
        <h4 style="color:red;" *ngIf="password!=ConfirmPassword && !isLoginMode && !isForgetPassword">
            Both Password Should be same</h4>
        <div *ngIf="!isForgetPassword ">
            <button mat-stroked-button color="accent" type="submit" [disabled]="!authForm.valid && password!=ConfirmPassword && !isLoginMode && !isForgetPassword">
                {{isLoginMode? 'Login': 'Sign Up'}}</button>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <button type="button" mat-stroked-button color="accent" (click)="onSwitchMode()">
                Switch To {{isLoginMode ?'Sign Up' :'Login'}}</button>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <button type="button" mat-stroked-button color="accent" [routerLink]="['/login']" routerLinkActive="active"> Cancel</button>
            <span style="color:blue;cursor: pointer;" (click)="onForgetPassword()">&nbsp; &nbsp; Forget Password:</span>
        </div>
        <button [disabled]="emailFormControl.hasError('email') || emailFormControl.hasError('required')" *ngIf="isForgetPassword " type="button" mat-stroked-button color="accent" (click)="forgetPassword()">
            send Link to Email
        </button> <span>&nbsp;&nbsp;&nbsp;</span>
        <button *ngIf="isForgetPassword " type="button" mat-stroked-button color="accent" (click)="cancel()">
            cancel
        </button>

    </form>
</mat-card>