<!-- <button class="menuForLogin" [matMenuTriggerFor]="menu" mat-icon-button aria-label="Example icon-button with a menu">
      <mat-icon *ngIf="!authentication && !device" id="dropdownIcon">more_vert</mat-icon>
      <mat-icon *ngIf="authentication && !device" id="dropdownIcon">account_circle</mat-icon>
      <mat-icon *ngIf="!authentication && device" id="device-dropdownIcon">more_vert</mat-icon>
      <mat-icon *ngIf="authentication && device" id="device-dropdownIcon">account_circle</mat-icon>

  </button> -->


<router-outlet></router-outlet>
<!-- {{isLoginOrNot}}[isLoggedIn]="isLoginOrNot" -->

<!-- 
<h1>{{title | uppercase}} Details</h1>

<input id="'name" [(ngModel)]="title" placeholder="name"> -->