input {
    border-radius: 12px;
    padding: 1.5%;
}

.urlInput {
    border-radius: 12px;
    width: 40%;
    /* align-items: center; */
    /* display: inline-block; */
    border: 2px solid rgb(0, 1, 5);
    box-sizing: border-box;
    margin-left: 23%;
    width: 40%;
}

.generatebtn {
    padding: 12px;
    padding-right: 4%;
    cursor: pointer;
    border-radius: 12px;
    /* background-color: blue; */
    /* color: #fcfcfc; */
    font-weight: bold;
}

.example-button-row {
    display: table-cell;
    max-width: 600px;
}

.shortUrlCard {
    margin-left: 23%;
    width: 40%;
    margin-top: 3%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    font-weight: bold;
}

.shortUrlCard1 {
    margin-left: 23%;
    width: 40%;
    margin-top: 2%;
    white-space: inherit;
    overflow: auto;
    position: relative;
    display: flex;
}

table {
    margin-top: 2%;
    width: 90%;
    margin-left: 5%;
}

input:focus::placeholder {
    color: transparent;
}

.mat-form-field-infix {
    padding: 0 !important;
    border-top: 0.84375em !important;
}

.mat-input-element {
    border: dimgray !important;
}